# Data Science Tools and Ecosystem

In this notebook, Data Science Tools, and Ecosystems will be summarized. The lessons, tools and practices from the previous modules will be put in practice here.

Objectives:
- Data Science Popular Languages
- Data Science Popular Libraries
- Data Science Tools
- Examples of Arithmetic Expressions

Some of the popular languages that Data Science use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Carat
2. ggplot
3. Plotly

|Data Science Tools|
---
|RStudio|
|Anaconda Navigator|
|Visual Studio|

### Below are a few examples of evaluating arithmetic expressions in Python
x<-10
y<-20

z<-y-x
z<-x+y
z<-x*y

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#  This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
Dalyn Yenisey Lara Cortes